body {
  overflow-x: hidden;
}

div#docsNav.container.docsNavContainer {
  overflow-x: hidden;
}

span.arrow-prev {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  padding-bottom: 2px;
}

span.arrow-next {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  padding-bottom: 2px;
}

a.docs-prev.button {
  float: right;
  clear: unset;
}

a.docs-next.button {
  float: left;
  clear: unset;
}

.collapsible .arrow {
  float: left;
}

.post {
  text-align: start;
}

.navigationWrapper {
  margin-left: 0;
  margin-right: auto;
}

.navigationSlider .slidingNav ul > li a {
  color: #000;
}

.navigationSlider .slidingNav ul > li a:hover {
  color: #e1e1e1;
}

.navigationSlider .slidingNav ul > li.siteNavItemActive a {
  color: #fff;
}

.navigationSlider .slidingNav ul > li.siteNavGroupActive a {
  color: #fff;
}

.aboutUsTitle {
  font-size: 2em;
}

.aboutUsBody {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1.2em;
}

a {
  color: cornflowerblue;
}
a:hover {
  color: skyblue;
}

.hash-link {
  margin-left: 0;
}

code {
  direction: ltr;
}

hr {
  border-color: black;
  border-width: 1.5px;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  background-color: gray;
  color: white;
}

table td:last-child {
  background-color: gray;
  color: white;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul > li a {
    color: #fff;
  }

  .navigationSlider .slidingNav ul > li a:hover {
    color: #e1e1e1;
  }

  .aboutUsBody {
    text-align: center;
    width: 50%;
    margin: auto;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
