.collapsible .arrow {
  float: left;
}

.post {
  text-align: start;
}

.navigationWrapper {
  margin-left: 0;
  margin-right: auto;
}

.navigationSlider .slidingNav ul > li a {
  color: #000;
}

.navigationSlider .slidingNav ul > li a:hover {
  color: #e1e1e1;
}

.navigationSlider .slidingNav ul > li.siteNavItemActive a {
  color: #fff;
}

.aboutUsTitle {
  font-size: 300%;
}

.aboutUsBody {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 150%;
}

a {
  color: darkblue;
}
a:hover {
  color: blueviolet;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul > li a {
    color: #fff;
  }

  .navigationSlider .slidingNav ul > li a:hover {
    color: #e1e1e1;
  }

  .aboutUsBody {
    text-align: center;
    width: 50%;
    margin: auto;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
